<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header row">
          <h3 class="card-title col-9">Standing For {{statisticName}}</h3>
          <div class="col-3">
            <select [(ngModel)]="statisticName" (change)="changeStatisticStandingShow(statisticName)">
              <option *ngFor="let statistic of statisticNames" value="{{statistic}}">{{statistic}}</option>
            </select>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="progress progress-sm active">
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width]="loading+'%'">
              <span class="sr-only">{{loading}}% Complete</span>
            </div>
          </div>
          <table id="standing" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th></th>
              <th>Logo</th>
              <th>Team</th>
              <th>Win</th>
              <th>Draw</th>
              <th>Lose</th>
              <th>Chain Wins</th>
              <th>Chain Loses</th>
              <th>Total</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let team of standing; index as i">
              <tr>
                <td>{{i + 1}}</td>
                <td><img [src]="team.logo" [alt]="team.code" width="50" height="50"></td>
                <td>{{team.teamName}}</td>
                <td>{{team.data.win}}</td>
                <td>{{team.data.draw}}</td>
                <td>{{team.data.lose}}</td>
                <td>{{team.data.chainWins}}</td>
                <td>{{team.data.chainLoses}}</td>
                <td>{{team.data.total}}</td>
                <td>
                  <button class="btn btn-primary" (click)="addTeamToCompare(team)">Compare</button>
                </td>
                <td><a [routerLink]="['/league',league,'teams',team.team_id]">Details</a></td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="card-footer row">
          <div class="col-1">
          </div>
          <div class="col-4" *ngIf="firstTeamToCompare">
            <img [src]="firstTeamToCompare.logo" [alt]="firstTeamToCompare.code" width="50" height="50">
            <span> {{firstTeamToCompare.teamName}}</span>
          </div>
          <div class="col-4" *ngIf="!firstTeamToCompare">
            <img width="50" height="50">
          </div>
          <div class="col-2">
            <p class="mt-1">VS</p>
          </div>
          <div class="col-4" *ngIf="secondTeamToCompare">
            <img [src]="secondTeamToCompare.logo" [alt]="secondTeamToCompare.code" width="50" height="50">
            <span> {{secondTeamToCompare.teamName}}</span>
          </div>
          <div class="col-4" *ngIf="!secondTeamToCompare">
            <img width="50" height="50">
          </div>
          <div class="col-1">
            <a href="">
              <button class="btn btn-primary">Compare</button>
            </a>
          </div>
        </div>
        <!-- /.card-body -->
      </div>


      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
</div>
<!-- /.row -->
