<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header row">
          <h3 class="card-title col-9">Standing For {{statisticName}}</h3>
          <div class="col-3">
            <select [(ngModel)]="statisticName" (change)="changeStatisticStandingShow(statisticName)">
              <option *ngFor="let statistic of statisticNames" value="{{statistic}}">{{statistic}}</option>
            </select>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="progress progress-sm active">
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" [style.width]="loading+'%'">
              <span class="sr-only">{{loading}}% Complete</span>
            </div>
          </div>
          <table id="standing" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th></th>
              <th>Logo</th>
              <th>Team</th>
              <th>Win</th>
              <th>Draw</th>
              <th>Lose</th>
              <th>Total</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let team of standing; index as i">
              <tr>
                <td>{{i + 1}}</td>
                <td><img [src]="team.logo" [alt]="team.code" width="50" height="50"></td>
                <td>{{team.teamName}}</td>
                <td>{{team.data.win}}</td>
                <td>{{team.data.draw}}</td>
                <td>{{team.data.lose}}</td>
                <td>{{team.data.total}}</td>
                <td><a [routerLink]="['/league',league,'teams',team.team_id]">Details</a></td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
</div>
<!-- /.row -->
