<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header row">
        <h3 class="card-title col-9">
          H2H For {{statisticName}}
        </h3>
        <div class="col-3">
          <select [(ngModel)]="statisticName" (change)="changeStatisticStandingShow(statisticName)">
            <option *ngFor="let statistic of statisticNames" value="{{statistic}}">{{statistic}}</option>
          </select>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="fixtures" class="table table-hover">
          <tbody>
          <ng-container *ngFor="let fixture of h2hStatistics">
            <tr>
              <td>{{convertDateToString(fixture.eventDate)}}</td>
              <td style="text-align: right">
                  <span>
                    <img [src]="fixture.home.logo" [alt]="fixture.home.code" width="25" height="25">
                    {{fixture.home.name}}
                  </span>
              </td>
              <td style="text-align: center">
                {{fixture.score}}
              </td>
              <td>
                  <span>
                    <img [src]="fixture.away.logo" [alt]="fixture.away.code" width="25" height="25">
                    {{fixture.away.name}}
                  </span>
              </td>
              <td>
                <a routerLink="/fixture/{{fixture.fixtureId}}">
                  Statistics
                </a>
              </td>
              <td></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
