<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="" class="brand-link">
    <span class="brand-text font-weight-light">Football</span>
  </a>

  <!--   Sidebar-->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Premier League
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/standing/2790/Total Shots" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Total Shots</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2790/Shots on Goal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shot On Goals</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2790/Corner Kicks" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Corner Kicks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2790/Offsides" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Offsides</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2790/Goalkeeper Saves" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Goal Keeper Saves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2790/Fouls" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fouls</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2790/Yellow Cards" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yellow Cards</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Bundesliga
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/standing/2755/Total Shots" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Total Shots</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2755/Shots on Goal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shot On Goals</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2755/Corner Kicks" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Corner Kicks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2755/Offsides" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Offsides</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2755/Goalkeeper Saves" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Goal Keeper Saves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2755/Fouls" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fouls</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2755/Yellow Cards" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yellow Cards</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Ligue 1
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/standing/2664/Total Shots" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Total Shots</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2664/Shots on Goal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shot On Goals</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2664/Corner Kicks" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Corner Kicks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2664/Offsides" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Offsides</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2664/Goalkeeper Saves" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Goal Keeper Saves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2664/Fouls" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fouls</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2664/Yellow Cards" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yellow Cards</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              LaLiga
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/standing/2833/Total Shots" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Total Shots</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2833/Shots on Goal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shot On Goals</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2833/Corner Kicks" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Corner Kicks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2833/Offsides" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Offsides</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2833/Goalkeeper Saves" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Goal Keeper Saves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2833/Fouls" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fouls</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2833/Yellow Cards" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yellow Cards</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Primeira Liga
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/standing/2826/Total Shots" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Total Shots</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2826/Shots on Goal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shot On Goals</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2826/Corner Kicks" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Corner Kicks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2826/Offsides" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Offsides</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2826/Goalkeeper Saves" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Goal Keeper Saves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2826/Fouls" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fouls</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2826/Yellow Cards" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yellow Cards</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Serie A
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/standing/2857/Total Shots" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Total Shots</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2857/Shots on Goal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shot On Goals</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2857/Corner Kicks" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Corner Kicks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2857/Offsides" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Offsides</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2857/Goalkeeper Saves" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Goal Keeper Saves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2857/Fouls" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fouls</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2857/Yellow Cards" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yellow Cards</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Russian Premier League
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/standing/2679/Total Shots" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Total Shots</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2679/Shots on Goal" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Shot On Goals</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2679/Corner Kicks" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Corner Kicks</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2679/Offsides" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Offsides</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2679/Goalkeeper Saves" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Goal Keeper Saves</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2679/Fouls" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fouls</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/standing/2679/Yellow Cards" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Yellow Cards</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!--   /.sidebar-->
</aside>
