<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="" class="brand-link">
    <span class="brand-text font-weight-light">Football</span>
  </a>

  <!--   Sidebar-->
  <div class="sidebar" style="height: 700px">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/league/2790" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Premier League
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/league/2755" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Bundesliga
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/league/2664" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Ligue 1
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/league/2833" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              LaLiga
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/league/2826" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Primeira Liga
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/league/2857" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Serie A
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/league/2679" class="nav-link">
            <i class="nav-icon fas fa-list"></i>
            <p>
              Russian Premier League
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!--   /.sidebar-->
</aside>
